@import url('https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet');
font-family: 'Roboto Slab', serif;

* {
  box-sizing: border-box; 
}
body {
  margin: 0;
  padding: 0;
}
 /* login and register page */

.loginContainer {
  height: 100%;
}
#finalLogo {
  width: 100%;
  height: 7rem;
  padding: 1rem;
  background-color: #AFB3F7;
}
.toggleLogin {
  text-align: center;
  vertical-align: center;
  color: #593EBC;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem
}
.forgotPassword {
  font-family: 'Roboto', sans-serif;
}
.emailLabel, .passwordLabel {
  display: inline-block;
  vertical-align: center;
  color: #2C46DD;
  padding: .4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.loginField {
  vertical-align: center;
}
.emailInput, .passwordInput {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  vertical-align: center;
  border: 1px solid black;
  border-radius: .5rem;
  font-size: 1rem;
}
.description{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding: .5rem;
}
.loginButton {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #2C46DD;
  background-color: #FFBA08;
  border-radius: 50%;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  background-image: url(/components/Shape.svg)

}
.btn {
  font-size: 1rem;
  padding: 0
}
.listItem {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #2C46DD;
  font-size: 1.3rem;
  font-family: 'Nunito Sans', sans-serif
}
.titleButton {
  background-color: #2C46DD; 
  border: none; 
  color: white; 
  padding: 1rem 1.5rem;
  font-size: 1.5rem
}