@import url('https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet');

* {
  box-sizing: border-box; 
}
body {
  margin: 0 auto 0;
  padding: 0;
  max-width: 100%
}
 /* login and register page */

.toggleLogin {
  text-align: center;
  vertical-align: center;
  color: #593EBC;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem
}
.forgotPassword {
  font-family: 'Roboto', sans-serif;
}
.emailLabel, .passwordLabel {
  display: inline-block;
  vertical-align: center;
  color: #2C46DD;
  padding: .4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.emailInput, .passwordInput {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  vertical-align: center;
  border: 1px solid black;
  border-radius: .5rem;
  font-size: 1rem;
}
.emailInput2, {
  display: inline-block;
  width: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  vertical-align: center;
  border: 1px solid black;
  border-radius: .5rem;
  font-size: 1rem;
}
.description{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 2.5rem;
  padding: .5rem;
}
.loginButton {
  height: 5rem;
  box-shadow: 0 2px 2px #888888;
  transition: color 0.3s;
  background-image: 0.5s, ease-in-out;
  width: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #2C46DD;
  background-color: #FFBA08;
  border-radius: 50%;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1.5rem;
}
.btn {
  font-size: 1rem;
  padding: 0
}

.titleButton {
  display: block;
  position: relative;
  width: cover;
  background-color: #2C46DD; 
  margin: 0 auto;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  color: white; 
  padding: .5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    -moz-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 5px #AFB3F7;
    -webkit-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 5px #AFB3F7;
    box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 5px #AFB3F7;
    text-shadow:
      0px -1px 3px #AFB3F7,
      0px 1px 0px #AFB3F7;
  }
  
  /* titles */
  h1.titles {
    margin: 0 auto;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-size: 1.5rem;
    text-align: center;
    color: #3A2D51;
    font-family: 'Roboto Slab', serif;
  }

  .calendarItem {
    width: 100%;
    text-align: center;
    padding: .1rem;
    line-height: 2.4rem
  }
  .itemList {
    margin: 0 auto;
    text-align: center;
    color: #2C46DD;
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif
  }
  .listItem {
    margin: 0 auto;
    text-align: center;
    color: #2C46DD;
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif
  }
  i {
    padding: .1rem;
    border: 0;
    background: white
  }
  
  /* week view */
  .weekRange {
    text-align: center;
    vertical-align: center;
    padding-top: 1rem;
    max-width: 100%
  }

  .titleButtonToggle {
    background-color: #2C46DD; 
    color: white; 
    padding: .4rem;
    margin: .3rem;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    -moz-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 5px #AFB3F7;
    -webkit-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 5px #AFB3F7;
    box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 5px #AFB3F7;
    text-shadow:
      0px -1px 3px #AFB3F7,
      0px 1px 0px #AFB3F7;
  }
    
  .currentDate {
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif, bold;
  }
  .request-unavailable-btn  {
    background-color: red !important;
  }
  .request-available-btn {
    background-color:green !important;
  }
  .columns2 {
    width: 100%;
    display: block
  }
  .column2 {
    width: 50%;
    text-align: center
  }
  .button {
    border: 1px black;
    margin-bottom: .5rem
  }
  .day {
    margin: 0 auto 0;
    text-align: center;
    color: #2C46DD;
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif
  }
  .navButtons {
      background-color: #2C46DD; 
      color: white; 
      padding: .5rem;
      margin-top: .3rem;
      font-size: 1rem;
      border-radius: 5px;
      margin: 0 auto 0;
      vertical-align: center;
      font-family: 'Roboto', sans-serif;    
  }
  .DayPickerInput {
    margin: .3rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 6rem;
    font-family: 'Roboto', sans-serif;    
}
  .requestOffAndCopy {
    text-align: center;
    width: 100%;
    margin: 0 auto 0;
  }
  .itemList1 {
    margin-top: .5rem;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif
  }
  #itemList1 {
    margin-top: 1rem;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif
  }
  #DayPickerInput {
    border: 1px black;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: #4A90E2;
    font-size: 0.875em;
    cursor: pointer;
  }
  input {
    border: 1px black;
    background-color: transparent;
    font-size: 1rem;
  }
  button.button-is-outlined {
    width: 100%
  }

  /* form fields */
  .formLabel {
    vertical-align: center;
    text-align: center;
    margin: 0 auto 0;
    color: #3A2D51;
    padding: .4rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  .loginField {
    vertical-align: center;
    
  }
  .formInput {
    display: inline-block;
    width: 100%;
    padding: .2rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    vertical-align: center;
    border: 1px solid #3A2D51;
    border-radius: .5rem;
    max-width: 310px;
    font-size: 1.5rem;
  }

  .timeSelector {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto 0;
    width: 100%;
    max-width: 200px;
    color: #2C46DD;
    border: 1px dotted #3A2D51;
  }
  .timeSelector2 {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto 0;
    width: 5rem;
    color: #2C46DD;
    border: 1px dotted #3A2D51;
  }
  .selector {
    width: 2rem;
  }
  .checkbox {
    height: 1rem;
    width: 2rem;
  }
  .centerText {
    text-align: center;
  }
  #centerText {
    text-align: center;
  }
  .formInput1 {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    vertical-align: center;
    border: 1px solid #3A2D51;
    border-radius: .5rem;
    max-width: 600px;
    font-size: 1rem;
  }
  #role.selector {
    font-size: 1rem;
    vertical-align: center;
    width: 8rem;
    height: 2rem;
    color: #2C46DD;
    border: 1px dotted #3A2D51;
  }
  .formInput2 {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    vertical-align: center;
    border: 1px solid #3A2D51;
    border-radius: .5rem;
    max-width: 600px;
    font-size: 1rem;
    margin-top:.6rem;
    margin-bottom: .2rem
  }

  .container {
    width: 310px;
    height: 80px;
    border: 1px solid lightgrey;
    border-radius: .5rem;
    padding-bottom: .5rem;
    overflow: auto;
    background-color: linen;
    text-align: center;
    margin: 0 auto 0
  }
  .itemList3 {
    padding-top:.2rem;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif
  }
  .titles {
    margin: 0 auto 0;
    font-size: 1.5rem;
    text-align: center;
    color: #3A2D51;
    font-family: 'Roboto Slab', serif;
  }
  /* #center {
    margin: 0 auto 0;
    text-align: center;
    padding: .7rem
  } */

header {
  height: 5rem;
} 
.loginContainer {
  height: 100%;
}
#finalLogo {
  width: 100%;
  height: 5rem;
  padding: 1rem 1rem 0 1rem;
  background-color: #AFB3F7;
}

.ii {
  background-color: #AFB3F7; 
}


.headerSpreader {
  width: 100%;
  height: 2rem;
  flex-wrap: wrap;
  display: flex;
  background-color: #AFB3F7;
}

.header#home {
  width: 35%;
  font-size: 1.2rem;
  color:#3A2D51;
  padding-left: .2rem
}
  .header#logout {
    width: 35%;
    font-size: 1.2rem;
    color:#3A2D51;
    text-align: right;
    padding-right: .2rem
  }
  .header#center {
    width: 30%;
    text-align: center;
    margin-top: .5rem;
    font-size: .8rem;
    color: #3A2D51;
  }

  .centerUpdate {
    text-align: center;
  }
  .columns3 {
    width: 100%;
    padding-top: .5rem;
    display: flex;
    margin: 0 auto 0;
    flex-wrap: wrap;
    max-width: 650px;  
  }
  .column3 {
    width: 33%;
    text-align: center;
    font-size: 1rem;
    color: black;
    background-color: lightcyan
  }
  .enclosingDiv {
    margin-top: 2rem
  }
  /* .loader {
    position: absolute;
    top: 50%;
    left: 48%;
  }
  
  .line {
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 1px;
    height: 25px;
  }
  
  .line:nth-child(1) {
    background: #95CEDB;
  }
  
  .line:nth-child(2) {
    animation-delay: 180ms;
    background: #2C46DD;
  }
  
  .line:nth-child(3) {
    animation-delay: 360ms;
    background: #593EBC;
  }
  
  .line:nth-child(4) {
    animation-delay: 540ms;
    background: #763FC1;
  }
  
  @keyframes expand {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(2);
    }
  }
   */
   .lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }